{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <div>
    <svg width="100%" height="250">
     <defs>
      <filter id="svg_1_blur">
       <feGaussianBlur stdDeviation="0" in="SourceGraphic"/>
      </filter>
      <filter id="svg_5_blur">
       <feGaussianBlur stdDeviation="0" in="SourceGraphic"/>
      </filter>
     </defs>
     <g>
      <text filter="url(#svg_1_blur)" stroke="#000" transform="matrix(5.101171434724051,0,0,4.592967151414882,-643.6946989951352,-374.5738711788555) " xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_1" y="120" x="145" stroke-width="0" fill="#0084ff">Now</text>
      <text filter="url(#svg_5_blur)" font-weight="normal" opacity="0.93" font-style="italic" stroke="#000" transform="matrix(1.9398634202889096,0,0,2.734265804290771,-305.55883165175726,-105.88549358397722) " xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="4" id="svg_5" y="50" x="185" stroke-opacity="null" stroke-width="0" fill="#0084ff">The best time to plant a tree was 20 years ago. The second best time is</text>
     </g>
    </svg>
        {% for message in get_flashed_messages() %}
        <div class="flash">
            {{ message }}
        </div>
        {% endfor %}
    </div>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="Input-wrapper">
                {{ form.old_password(class='Input',placeholder='请输入旧密码',autocomplete='off') }}
            </div>
                <div class="a-line"></div>
            {% if form.old_password.errors %}
                <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div class="Input-wrapper">
                {{ form.password(class='Input',placeholder='请输入新密码', value='', autocomplete='off') }}
            </div>
                <div class="a-line"></div>
            {% if form.password.errors %}
                    <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div class="Input-wrapper">
                {{ form.password1(class='Input',placeholder='请确认新密码', value='', autocomplete='off') }}
            </div>
                <div class="a-line"></div>
            {% if form.password1.errors %}
                    <ul class="errors">{% for error in form.password1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
             <div class="Submit-wrapper">
                 {{ form.submit(class='Submit-button') }}
             </div>
    </form>
</div>

{% endblock %}